@import '../../node_modules/bulma/sass/utilities/initial-variables';

@import 'myVariables';

@import '../../node_modules/bulma/bulma';

@import 'background';

@import 'font';

@import 'navbar';

@import 'button';

.navbar {
  position: relative !important;
}

.card-footer {
    a:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
}

.body-margin{
  margin-right: 5%;
  margin-left: 5%;
}

.has-text-margin-top{
  margin-top: 1rem;
}

.has-text-margin-bottom{
  margin-bottom: 1rem;
}

.has-text-margin-right{
  margin-right: 1rem;
}

.has-text-margin-left{
  margin-left: 1rem;
}

.heroTitle {
  height: 200px;

  @media (max-width: 768px) {
    height: 150px;
  }
}

.youtube-embed {
  width: 100%;
  height: 460px;
}