$link: #4054b2;
$info: #4032CC;
$white: #FFF;

$navbar-background-color: transparent;
$navbar-item-hover-color: rgba(255,255,255,0.5);
$navbar-item-hover-background-color: transparent;

$card-background-color: #FAFAFA;