// Colors
$link: #4054b2;
$info: #4032CC;
$white: #FFF;

//navbar
$navbar-background-color: transparent;
$navbar-item-hover-color: rgba(255,255,255,0.5);
$navbar-item-hover-background-color: transparent;

//card
$card-background-color: #FAFAFA;

//media-breakpoints
$bulma-md: 1087px;
$md: 1199px;
$sm: 991px;
$xs: 767px;