section.hero
    .hero-body.body-margin
        .columns
            .column.is-6.has-text-right
                h1.title.is-3 Welcome To Christ's Ambassadors!
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dicta quo hic iusto harum doloremque tenetur officiis aperiam perspiciatis! Rerum qui earum, illo enim eligendi fugiat sapiente odio, repellat consequatur nisi, ad corrupti similique velit a. Inventore hic cumque earum vero ducimus natus minus nesciunt animi, dolores iusto consequatur aspernatur optio iure dolorum mollitia modi necessitatibus alias delectus ad? Repellendus quis voluptatum reiciendis possimus? Sapiente pariatur eum a eaque quod!
                .columns.is-multiline.has-text-margin-top
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Crisostomo L. Martin
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, molestias!
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Arnulfo Santiago
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, numquam.
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Florante Lacbu
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptas.
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Rolly S. Limjoco
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptas.
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Reynaldo P. Delos Santos
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptas.
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Carla L. Teresa
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptas.
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Zaralyn E. Vinuya
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptas.
                    .column.is-3.has-text-centered
                        img(src="http://via.placeholder.com/150x150" alt='')
                        div
                            strong Charina Sombillo
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptas.
            .column.is-6
                iframe.youtube-embed(src="https://www.youtube.com/embed/ICWwKMv-KTM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)