section.hero.is-large.bannerone
    .hero-head
        .hero-body.has-text-white.has-text-centered.body-margin
            .columns
                .column
                    h1.title.is-1 Christ's Ambassadors
                    h2.subtitle.is-3 of the Great Commission Ministries Int., Inc.
                    //- button.button.is-info.is-long 
                    //-     strong Sign Up