section.hero.bannertwo.is-medium.is-dark
    .hero-body.body-margin
        .is-centered.columns.is-mobile
            .column.is-3
                img(src="images/favicon2.png", alt="")
        .has-text-centered.columns
            .column
                h1.is-size-2 Go and Make disciples of all nations