section.hero.is-small.is-link
    .hero-body.body-margin
        .has-text-centered.columns
            .column
                h1.is-size-4 Contact Information
                p.has-text-margin-top
                    i.fas.fa-map-marker
                    |  Pansol Pasig Candaba Pampanga
                p.has-text-margin-top
                    i.fas.fa-mobile-alt
                    |  +xx (x)xxxx xxx xx
                p.has-text-margin-top
                    i.fas.fa-phone
                    |  +xx (x)xxxx xxx xx
                p.has-text-margin-top
                    i.fas.fa-envelope
                    |  info@cagcmii.com