section.hero
    .hero-body.body-margin
        h1.title.is-3 Join Our Events!!!
        .columns.is-multiline
            .column.is-4
                .card
                    header.card-header
                        p.card-header-title This is a Sample Event
                        a.card-header-icon(href="#", aria-label="more options")
                            span.icon
                                i.fas.fa-angle-down(aria-hidden="true")
                    .card-content
                        img(src="http://via.placeholder.com/600x200" alt='')
                        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            time(datetime="2016-1-1") 11:09 PM - 1 Jan 2016
                    footer.card-footer
                        a.card-footer-item Attend
            .column.is-4
                .card
                    header.card-header
                        p.card-header-title This is a Sample Event
                        a.card-header-icon(href="#", aria-label="more options")
                            span.icon
                                i.fas.fa-angle-down(aria-hidden="true")
                    .card-content
                        img(src="http://via.placeholder.com/600x200" alt='')
                        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            time(datetime="2016-1-1") 11:09 PM - 1 Jan 2016
                    footer.card-footer
                        a.card-footer-item Attend
            .column.is-4
                .card
                    header.card-header
                        p.card-header-title This is a Sample Event
                        a.card-header-icon(href="#", aria-label="more options")
                            span.icon
                                i.fas.fa-angle-down(aria-hidden="true")
                    .card-content
                        img(src="http://via.placeholder.com/600x200" alt='')
                        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            time(datetime="2016-1-1") 11:09 PM - 1 Jan 2016
                    footer.card-footer
                        a.card-footer-item Attend
            .column.is-4
                .card
                    header.card-header
                        p.card-header-title This is a Sample Event
                        a.card-header-icon(href="#", aria-label="more options")
                            span.icon
                                i.fas.fa-angle-down(aria-hidden="true")
                    .card-content
                        img(src="http://via.placeholder.com/600x200" alt='')
                        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            time(datetime="2016-1-1") 11:09 PM - 1 Jan 2016
                    footer.card-footer
                        a.card-footer-item Attend
            .column.is-4
                .card
                    header.card-header
                        p.card-header-title This is a Sample Event
                        a.card-header-icon(href="#", aria-label="more options")
                            span.icon
                                i.fas.fa-angle-down(aria-hidden="true")
                    .card-content
                        img(src="http://via.placeholder.com/600x200" alt='')
                        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            time(datetime="2016-1-1") 11:09 PM - 1 Jan 2016
                    footer.card-footer
                        a.card-footer-item Attend
            .column.is-4
                .card
                    header.card-header
                        p.card-header-title This is a Sample Event
                        a.card-header-icon(href="#", aria-label="more options")
                            span.icon
                                i.fas.fa-angle-down(aria-hidden="true")
                    .card-content
                        img(src="http://via.placeholder.com/600x200" alt='')
                        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            time(datetime="2016-1-1") 11:09 PM - 1 Jan 2016
                    footer.card-footer
                        a.card-footer-item Attend