include ../shared/navbar.pug

include ./banner1.pug

include ./aboutUs.pug

include ./banner2.pug

include ./events.pug

include ./banner3.pug
                    
//- include ./contactUs.pug
                
include ../shared/footer.pug