section.hero
    .hero-body.body-margin
        .columns
            .column.is-6
                img(src="http://via.placeholder.com/1280x700" alt='')
            .column.is-6
                h1.title.is-3 Thank You!
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dicta quo hic iusto harum doloremque tenetur officiis aperiam perspiciatis! Rerum qui earum, illo enim eligendi fugiat sapiente odio, repellat consequatur nisi, ad corrupti similique velit a. Inventore hic cumque earum vero ducimus natus minus nesciunt animi, dolores iusto consequatur aspernatur optio iure dolorum mollitia modi necessitatibus alias delectus ad? Repellendus quis voluptatum reiciendis possimus? Sapiente pariatur eum a eaque quod!
                br
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum distinctio accusamus excepturi nemo rem unde reiciendis quae nam beatae dicta.
                br
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus culpa qui, veritatis nesciunt ex minima aspernatur! Dolores obcaecati dicta quibusdam autem ad esse aliquid commodi.
        .columns.is-centered
            a.column.is-3.has-text-centered.card.has-text-margin-right(href="")
                i.fab.fa-paypal.fa-4x
                h1.title.has-text-margin-top Paypal
            a.column.is-3.has-text-centered.card(href="")
                i.far.fa-money-bill-alt.fa-4x
                h1.title.has-text-margin-top Cash or Check
            a.column.is-3.has-text-centered.card.has-text-margin-left(href="")
                i.fas.fa-credit-card.fa-4x
                h1.title.has-text-margin-top Credit or Debit Card

            