section.hero.is-small
    .hero-body.body-margin
        .has-text-centered.columns
            .column
                i.fab.fa-github.fa-2x
                p.has-text-margin-top Privacy Policy • Terms and Condition
                p.has-text-margin-top Copyright 
                    i.far.fa-copyright
                    |  CAGCMII
                p.has-text-margin-top v0.01