section.hero.is-small.is-link
    .hero-body.body-margin
        .columns
            .column.is-4.has-text-right.has-text-margin-right
                h1.title.is-1 Contact
                p.subtitle Us
            .column.is-4
                .field
                    label.has-text-white.label Name
                    .control.has-icons-left
                        input.input(type='text' placeholder='Text input')
                        span.icon.is-small.is-left
                            i.fas.fa-user
                .field
                    label.has-text-white.label Mobile Number
                    .control.has-icons-left
                        input.input(type='text' placeholder='Text input')
                        span.icon.is-small.is-left
                            i.fas.fa-mobile
                .field
                    label.has-text-white.label Email
                    .control.has-icons-left
                        input.input(type='email' placeholder='Email input')
                        span.icon.is-small.is-left
                            i.fas.fa-envelope
                .field
                    label.has-text-white.label Subject
                    .control
                        .select
                            select
                                option Select dropdown
                                option With options
                .field
                    label.has-text-white.label Message
                    .control
                        textarea.textarea(placeholder='Textarea')
                .field.is-grouped.is-pulled-right
                    .control
                        button.button.is-success Submit
                    .control
                        button.button.is-dafault Cancel

            .column.is-3.has-text-centered
                p.subtitle.is-3 Connect to us anytime!
                i.fab.fa-facebook-square.fa-2x.has-text-margin-right
                i.fab.fa-instagram.fa-2x.has-text-margin-right
                i.fab.fa-youtube.fa-2x.has-text-margin-right
                i.fab.fa-twitter-square.fa-2x
                
                h1.is-size-4.has-text-margin-top Contact Information
                p.has-text-margin-top
                    i.fas.fa-map-marker
                    |  Pansol Pasig Candaba Pampanga
                p.has-text-margin-top
                    i.fas.fa-mobile-alt
                    |  +xx (x)xxxx xxx xx
                p.has-text-margin-top
                    i.fas.fa-phone
                    |  +xx (x)xxxx xxx xx
                p.has-text-margin-top
                    i.fas.fa-envelope
                    |  info@cagcmii.com


section.hero.is-small
    .hero-body.body-margin
        .has-text-centered.columns
            .column
                a(href='https://github.com/trarjayhipolito/CAGCMII-mockup')
                    i.fab.fa-github.fa-2x
                p.has-text-margin-top Privacy Policy • Terms and Condition
                p.has-text-margin-top Copyright 
                    i.far.fa-copyright
                    |  CAGCMII
                p.has-text-margin-top v0.01