section.hero.heroTitle.is-link
  .hero-body
    .container
        .bottomleft
            h1.title
                | Primary bold title
            h2.subtitle
                | Primary bold subtitle
