section.hero
    .hero-body.body-margin
        .columns.is-multiline
            .column.is-3
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://bulma.io/images/placeholders/1280x960.png' alt='Placeholder image')
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Sample Event
                                p.subtitle.is-6 @description here
                        .content
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            | Phasellus nec iaculis mauris. 
                            a @cagcmii
                            | .
                            a(href='#') #eventHere
                            a(href='#') #TagLineHere
                            br
                            time(datetime='2016-1-1') 11:09 PM - 1 Jan 2016

            .column.is-3
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://bulma.io/images/placeholders/1280x960.png' alt='Placeholder image')
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Sample Event
                                p.subtitle.is-6 @description here
                        .content
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            | Phasellus nec iaculis mauris. 
                            a @cagcmii
                            | .
                            a(href='#') #eventHere
                            a(href='#') #TagLineHere
                            br
                            time(datetime='2016-1-1') 11:09 PM - 1 Jan 2016

            .column.is-3
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://bulma.io/images/placeholders/1280x960.png' alt='Placeholder image')
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Sample Event
                                p.subtitle.is-6 @description here
                        .content
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            | Phasellus nec iaculis mauris. 
                            a @cagcmii
                            | .
                            a(href='#') #eventHere
                            a(href='#') #TagLineHere
                            br
                            time(datetime='2016-1-1') 11:09 PM - 1 Jan 2016
            .column.is-3
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://bulma.io/images/placeholders/1280x960.png' alt='Placeholder image')
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Sample Event
                                p.subtitle.is-6 @description here
                        .content
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            | Phasellus nec iaculis mauris. 
                            a @cagcmii
                            | .
                            a(href='#') #eventHere
                            a(href='#') #TagLineHere
                            br
                            time(datetime='2016-1-1') 11:09 PM - 1 Jan 2016

            