doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Hello Bulma!
    link(rel='stylesheet' href='dist/assets/css/all.css')
    script(defer='' src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    script(src="../assets/js/burger.js")
    

body
    section.hero.is-large.backgroundone
        .hero-head
            nav.navbar.is-transparent.is-dark
                .navbar-brand.body-margin
                    a.navbar-item(href='#')
                        img(src='images/favicon.png' alt='Bulma: a modern CSS framework based on Flexbox')
                        | ConvX
                    .navbar-burger.burger(data-target='navMenu' aria-label='menu' aria-expanded='false')
                        span(aria-hidden='true')
                        span(aria-hidden='true')
                        span(aria-hidden='true')

                .navbar-menu.body-margin(id='navMenu')
                    .navbar-end
                        a.navbar-item.has-text-white.hover-transparent(href='#') About Us
                        a.navbar-item.has-text-white.hover-transparent(href='#') Contact Us
                        a.navbar-item.has-text-white.hover-transparent(href='#') How it works
                        .navbar-item
                            a.button.is-link(href='#') Sign In

            .hero-body.has-text-white.has-text-left.body-margin
                .columns
                    .column.is-6
                        h1.title Revolutionizing Convenyancing Through Digitalization
                        h2.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatum molestias nobis repellendus iusto optio voluptatibus ducimus animi eum. Dignissimos!
                        button.button.is-info.is-long 
                            strong Sign Up

    section.hero
        .hero-body.body-margin
            .columns.is-desktop
                .column
                    h1.is-size-3 About Us
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio consequuntur, suscipit saepe repudiandae autem labore iure praesentium corporis aspernatur itaque perspiciatis ipsam quis ratione cum nam atque.
                .column.has-text-centered
                    img.has-grayscale(src='images/img-dan.png' alt='')
                    div
                        strong Dan Hunter
                    p Lawyer and &quot;Tech Guy&quot; Dean of Law at Swinburne Founder of Quitch
                .column.has-text-centered
                    img.has-grayscale(src='images/img-simon.png' alt='')
                    div
                        strong Simon Quirk
                    p Lawyer and &quot;Operations Guy&quot; Ex COO at ASX Listed Founder of Vidversity 
                .column.has-text-centered
                    img.has-grayscale(src='images/img-nick.png' alt='')
                    div
                        strong Nick Stanley
                    p Engineer and &quot;Sales Guy&quot; Founder of Sky Software Investor

    section.hero.backgroundtwo.is-medium.is-dark.overlay
        .hero-body.body-margin
            .is-centered.columns.is-mobile
                .column.is-3
                    img(src="images/logo-cvx.png", alt="")
            .has-text-centered.columns
                .column
                    h1.is-size-2 ConvX may be the Uber of conveyancing 

    section.hero.backgroundthree.is-medium
        .hero-body.body-margin
            .columns.is-desktop
                .column.is-5
                .column
                    h1.title How it works
                    ul
                        li.has-text-margin-top 
                            i.far.fa-lightbulb.fa-2x.has-text-link
                            |  Interacts via web/mobile at the consumer level, ensuring the information, response and reassurance
                        li.has-text-margin-top
                            i.far.fa-lightbulb.fa-2x.has-text-link
                            |  Automates and tracks all processes necessary to convey land, reducing insurance costs to delver settlements more quickly and consistently
                        li.has-text-margin-top
                            i.far.fa-lightbulb.fa-2x.has-text-link 
                            |  Provides data analytics for clients who are developers. Data will also be package
                        li.has-text-margin-top
                            i.far.fa-lightbulb.fa-2x.has-text-link 
                            |  Parcels out piecework within the transaction to home-based & remote knowledge workers
                        li.has-text-margin-top
                            i.far.fa-lightbulb.fa-2x.has-text-link 
                            |  Deconstructed process allows for the progressive automation of discrete stages over time
                        li.has-text-margin-top
                            i.far.fa-lightbulb.fa-2x.has-text-link 
                            |  Delivers lower cost to consumer while maintaining attractive margins and also enabling ConvX to scale with more agility than the traditional employee base model
                        li.has-text-margin-top
                            i.far.fa-lightbulb.fa-2x.has-text-link 
                            |  Integrates with other real estates platforms to create an end to end real estate 
                        
    section.hero.is-small.is-link
        .hero-body.body-margin
            .has-text-centered.columns
                .column
                    h1.is-size-4 Contact Information
                    p.has-text-margin-top
                        i.fas.fa-map-marker
                        |  56 Maxwell St, South Turramura NSW 2074, Australia
                    p.has-text-margin-top
                        i.fas.fa-mobile-alt
                        |  +xx (x)xxxx xxx xx
                    p.has-text-margin-top
                        i.fas.fa-phone
                        |  +xx (x)xxxx xxx xx
                    p.has-text-margin-top
                        i.fas.fa-envelope
                        |  info@convx.com
                    
    section.hero.is-small
        .hero-body.body-margin
            .has-text-centered.columns
                .column
                    i.fab.fa-linkedin.fa-2x
                    p.has-text-margin-top Privacy Policy • Terms and Condition
                    p.has-text-margin-top Copyright 
                        i.far.fa-copyright
                        |  ConvX
                    p.has-text-margin-top v0.01