doctype html
head
    include ./shared/header.pug
    
body
    include ./shared/navbar.pug

    include ./home/banner1.pug

    include ./home/aboutUs.pug

    include ./home/banner2.pug

    include ./home/events.pug
    
    include ./home/banner3.pug
                        
    include ./home/contactUs.pug
                    
    include ./shared/footer.pug