section.hero
    .hero-body.body-margin
        .columns
            .column.is-8
                iframe.embed(src="https://www.youtube.com/embed/ICWwKMv-KTM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            .column.is-4
                .columns.is-multiline.is-gapless.yt-lists
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!

            