section.hero
    .hero-body.body-margin
        .columns
            .column.is-8
                iframe.embed(src="https://www.youtube.com/embed/ICWwKMv-KTM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
<<<<<<< HEAD
=======
                h1.title Title here!
                p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore tenetur sapiente architecto, placeat cupiditate animi accusamus dolores quam ad!
                hr
                article.media
                    figure.media-left
                        p.image.is-64x64
                            img(src='https://bulma.io/images/placeholders/128x128.png')
                    .media-content
                        .content
                        p
                            strong Barbara Middleton
                            br
                            |         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                            br
                            small
                            a Like
                            |  &middot; 
                            a Reply
                            |  &middot; 3 hrs
                        article.media
                        figure.media-left
                            p.image.is-48x48
                                img(src='https://bulma.io/images/placeholders/96x96.png')
                        .media-content
                            .content
                            p
                                strong Sean Brown
                                br
                                |             Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                br
                                small
                                a Like
                                |  &middot; 
                                a Reply
                                |  &middot; 2 hrs
                            article.media
                            | Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
                            article.media
                            | Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
                        article.media
                        figure.media-left
                            p.image.is-48x48
                                img(src='https://bulma.io/images/placeholders/96x96.png')
                        .media-content
                            .content
                            p
                                strong Kayli Eunice 
                                br
                                |             Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                                br
                                small
                                a Like
                                |  &middot; 
                                a Reply
                                |  &middot; 2 hrs
                article.media
                    figure.media-left
                        p.image.is-64x64
                            img(src='https://bulma.io/images/placeholders/128x128.png')
                    .media-content
                        .field
                        p.control
                            textarea.textarea(placeholder='Add a comment...')
                        .field
                        p.control
                            button.button Post comment

>>>>>>> e276ba765b62334d75f9d1f2635cdd6934760469
            .column.is-4
                .columns.is-multiline.is-gapless.yt-lists
                    .column.is-12
                        .yt-list
<<<<<<< HEAD
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            img(src="http://via.placeholder.com/50x50")
                            a(href="#") This is a sample thumbnail!
=======
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
                    .column.is-12
                        .yt-list
                            .columns.is-mobile
                                figure.image.is-128x128.column.is-4.img-responsive
                                    img(src="http://via.placeholder.com/128x128")
                                a.has-text-margin-top(href="#") This is a sample thumbnail!
>>>>>>> e276ba765b62334d75f9d1f2635cdd6934760469

            